[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RastaRocket"]
	path = RastaRocket
	url = https://github.com/biostatusmr/rastarocket
